* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*::selection {
    background: #4C9ED9 none repeat scroll 0 0;
    color: #ffffff;
}

*::-moz-selection {
    background: #4C9ED9 none repeat scroll 0 0;
    color: #ffffff;
}

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: #2C3E50;
    background-color: #fff;
}

p {
    margin: 0 0 10px;
    line-height: 27px;
}

a {
    background-color: transparent;
    color: #c7254e;
    text-decoration: none;
}

a:active, a:hover {
    outline: none;
    -moz-outline-style: none;
}

a:hover, a:focus {
    color: #c7254e;
    text-decoration: underline;
    outline: none;
    -moz-outline-style: none;
}

a:focus {
    outline: none;
    -moz-outline-style: none;
}

b, strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

img {
    border: 0
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

code, kbd, pre, samp {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1em;
}

h1, h2, h3 {
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
    font-weight: 500;
}

h1 {
    font-size: 1.6em;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #EEEEEE;
    margin-top: 28px;
    margin-bottom: 14px;
}

h2 {
    font-size: 1.4em;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px
}

ul ul, ol ul, ul ol, ol ol {
    margin-bottom: 0
}

li {
    line-height: 25px;
}

li a {
    color: #00F;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

li a:hover, li a:focus, li a:active {
    text-decoration: none;
}

blockquote {
    padding: 10px 10px;
    margin: 0 20px 0 20px;
    font-size: 17px;
    border-color: #D6DBDF;
    border-left: 5px solid #EEEEEE;
    border-left-width: 10px;
    background: rgba(255, 204, 255, 0.1) none repeat scroll 0 0;
}

code, kbd, pre, samp {
    font-family: Consolas, Menlo, Monaco, "Courier New", monospace
}

code {
    padding: 2px 4px;
    font-size: 90%;
    background-color: #f7f7f7;
    border-radius: 2px
}

pre {
    overflow: auto;
    display: block;
    padding: 10px;
    margin: 0 0 10px;
    font-size: 90%;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f7f7f7;
    border-left: 5px solid #eeeeee;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

pre code {
    padding: 0;
    font-size: inherit;
    background-color: transparent;
    border-radius: 0;
}