<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ document.handler.title }}{% if document.handler.author %} ({{ document.handler.author }}){% endif %}</title>
    <style>
        {% include "default.css" %}
        {% include "ext.css" %}
        {% if document.settings.drawcode %}
            {% include "code.css" %}
        {% endif %}
    </style>
</head>
<body>
    {% if document.handler.hnodes %}
    <div id="id-zerg-side-ul" class="zerg-side-ul">
        <ul class="list-unstyled" style="margin-left: -15px">
            {% for hnode in document.handler.hnodes.children recursive%}
            <li><a href={{ '#' + hnode.id }}>
                    {% if document.settings.show_directory_number %}{{ hnode.id }}&nbsp;&nbsp;{% endif %}{{ hnode.string }}
                </a>
                {% if hnode.children %}
                <ul class="list-unstyled" style="margin-left: -20px">
                    {{ loop(hnode.children) }}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div id="id-zerg-content" class="zerg-content" style="width: {% if document.handler.hnodes %}80%{% else %}100%{% endif %}">
        {{ document.html }}
    </div>
    <script>
    console.log('github: https://github.com/Mohanson/zerg');
    console.log('pypi: https://pypi.python.org/pypi/zerg');
    </script>
</body>
</html>