<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ document.handler.title }}{% if document.handler.author %} ({{ document.handler.author }}){% endif %}</title>
</head>
<body>
{{ document.html }}
</body>
</html>