<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<style>
    {% include "common.css" %}
    {% if is_draw_code %}
        {% include "code.css" %}
    {% endif %}
    {% include "ext.css" %}
    {% if hinfos %}
    .content {
        width: 80%;
    }
    {% else %}
    .content {
        width: 100%;
    }
    {% endif %}
</style>
<body>
{% if hinfos %}
<div class="sidebar">
    <ul class="list-unstyled">
        {% for hinfo in hinfos %}
        <li><a href={{ '#' + hinfo['id'] }}>{{ hinfo['id'] + ' ' + hinfo['string'] }}</a>
            {% if hinfo['children'] %}
            <ul class="list-unstyled">
                {% for hinfo in hinfo['children'] %}
                <li><a href={{ '#' + hinfo['id'] }}>{{ hinfo['id'] + ' ' + hinfo['string'] }}</a>
                {% if hinfo['children'] %}
                    <ul class="list-unstyled">
                    {% for hinfo in hinfo['children'] %}
                    <li><a href={{ '#' + hinfo['id'] }}>{{ hinfo['id'] + ' ' + hinfo['string'] }}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <div class="footer">
        <a href="https://github.com/Mohanson/saika.mkdown" target="_blank">GitHub</a>
        <a href="https://pypi.python.org/pypi/saika.mkdown" target="_blank">Pypi</a>
    </div>
</div>
{% endif %}
<div class="content">
{{ content }}
</div>
</body>
</html>